  	<div id="claimView" data-role="page" data-theme="b">
			<div data-role="header" data-position="fixed" data-theme="b" data-tap-toggle="false">
				<h1>View Your Claims</h1>
			</div>
			<div data-role="content">
				
            </div>
				
			<div id="navBar" data-id="navBar" data-role="footer" data-position="fixed" data-tap-toggle="false">
				<div data-role="navbar" class="tabbar">
						<ul>
							<li>
								<a id="policyTab" href="policyView.html" data-icon="custom" data-iconpos="top" >Policies</a>
							</li>
							<li>
								<a id="claimTab" href="#" data-icon="custom" data-iconpos="top" class="ui-btn-active ui-state-persist">Claims</a>
							</li>
							<li>
								<a id="billingTab" href="billingView.html" data-icon="custom" data-iconpos="top">Billing</a>
							</li>
							<li>
								<a id="contactUsTab" href="contactView.html" data-icon="custom" data-iconpos="top">ContactUs</a>
							</li>
						</ul>
				</div>
			</div>
	</div>