  	<div id="policyView" data-role="page" data-theme="b">
			<div data-role="header" data-position="fixed" data-theme="b" data-tap-toggle="false">
				<h1>Policies</h1>
			</div>
			<div data-role="content">
				<h2>Review your Policy easily</h2>	
    			<ul id="policyList" data-role="listview" data-inset="true" data-theme="d">
    			</ul>   			
    			<div class="poweredBy"><img src="../images/worklight.png"/></div>
            </div>
				
			<div id="navBar" data-id="navBar" data-role="footer" data-position="fixed" data-tap-toggle="false">
				<div data-role="navbar" class="tabbar">
						<ul>
							<li>
								<a id="policyTab" href="#" data-icon="custom" data-iconpos="top" class="ui-btn-active ui-state-persist">Policies</a>
							</li>
							<li>
								<a id="claimTab" href="claimView.html" data-icon="custom" data-iconpos="top">Claims</a>
							</li>
							<li>
								<a id="billingTab" href="billingView.html" data-icon="custom" data-iconpos="top">Billing</a>
							</li>
							<li>
								<a id="contactUsTab" href="contactView.html" data-icon="custom" data-iconpos="top">ContactUs</a>
							</li>
						</ul>
				</div>
			</div>
	</div>