
/*Worklight container div */
#content {
	height: 460px;
	margin: 0 auto;
	width: 320px;
}

.poweredBy
{
	margin: 30px 20px 0px 0px;
	float:right; 
}


[data-theme=b].ui-btn-corner-all,[data-theme=b].ui-btn-corner-all span {
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
}

#navBar .ui-icon {
  background: transparent no-repeat;
  background-size: 50px 32px;
  width: 50px;
  height: 32px;
  border-radius: 0px;
  top: 0px;
  margin-left: -29px;
}

#navBar .ui-btn-inner {
  padding-top: 45px;
}

#policyTab .ui-icon {
  background-image: url("../images/tab-icon-33.png");
}

#policyTab.ui-btn-active .ui-icon {
  background-image: url("../images/tab-icon-33h.png");
}

#claimTab .ui-icon {
  background-image: url("../images/tab-icon-11.png");
}

#claimTab.ui-btn-active .ui-icon {
  background-image: url("../images/tab-icon-11h.png");
}

#billingTab .ui-icon {
  background-image: url("../images/tab-icon-25.png");
}

#billingTab.ui-btn-active .ui-icon {
  background-image: url("../images/tab-icon-25h.png");
}

#contactUsTab .ui-icon {
  background-image: url("../images/tab-icon-29.png");
}

#contactUsTab.ui-btn-active .ui-icon {
  background-image: url("../images/tab-icon-29h.png");
}
