
/* Stylesheet content from wlclient/css/wlclient.css in Common Resources */
/*
* Licensed Materials - Property of IBM
* 5725-G92 (C) Copyright IBM Corp. 2006, 2012. All Rights Reserved.
* US Government Users Restricted Rights - Use, duplication or
* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/

/* Copyright (C) Worklight Ltd. 2006-2012.  All rights reserved. */

/********************************* START BASE CSS *************************************/
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
	q:before, q:after {
	content: '';
	content: none;
}

a, button {
	cursor: pointer;
}

.show {
	display: inherit;
}

.hide {
	display: none !important;
}

.clear {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.strong {
	font-weight: bold;
}

.rtl {
	direction: rtl;
	text-align: right;
}

.ltr {
	direction: ltr;
	text-align: left;
}

.center {
	text-align: center;
}

.max {
	height: 100%;
	width: 100%;
}

/******************************** END BASE CSS ***********************************/

#content {
	position: relative;
}

/* div#content is for backwards compatibility for wl versions < 4.2 */
div#content {
	display: none;
}

#blockOuter {
	width: 100%;
	background: #fff;
	color: inherit;
	overflow: hidden;
	position: absolute;
	z-index: 110;  /* Must be bigger than authenticator z-index (100). */
	left: 0;
	top: 0;
	height: 100%;
}

/* The id is set in the upgrade version in messages.js */
#downloadNewVersion {
	cursor: pointer;
	text-decoration: underline;
	color: #0000ff;
}

#auth {
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
}

#diagnostic {
	background-color: white;
	-webkit-tap-highlight-color: rgba(0,0,0,0);	
}

.diagnosticTable td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	font-size: 16px;
	padding: 2px;
	color : black;
	width: 50%;
	word-break: break-all;
}

.diagnosticButtons {
	font-size:16px;
	height:40px;
	width: 80px;
	font-weight: normal;
	margin: 5px;
}

/* Start styling for the modal window */
#WLdialogContainer {
	position: static;
}

#WLdialogOverlay {
	background: #fff;
	height: 100%;
	left: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 16777269;
}

#WLdialog {
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	margin: 0 auto;
	padding: 5px;
	position: absolute;
	position: fixed;
	width: 280px;
	z-index: 16777270;
}

#WLdialogTitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

#WLdialogBody {
	margin: 5px 0;
	min-height: 48px;
}

#WLdialog button {
	margin: 0 5px;
}
/* End styling for the modal window */

/* Start styling for the busy modal window */
#WLbusyContainer {
	position: static;
}

#WLbusyOverlay {
	background: #fff;
	height: 100%;
	left: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-o-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9998;
}

#WLbusy {
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	width: 240px;
	z-index: 9999;
}

#WLbusyTitle {
	color: #000;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	padding: 5px;
	text-align: center;
}

/* End styling for the busy modal window */

/* Stylesheet content from wlclient/css/wlclient.css in android Common Resources */
/*
* Licensed Materials - Property of IBM
* 5725-G92 (C) Copyright IBM Corp. 2006, 2012. All Rights Reserved.
* US Government Users Restricted Rights - Use, duplication or
* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/

/* Copyright (C) Worklight Ltd. 2006-2012.  All rights reserved. */

html, body {
    overflow: visible;
    background-color: white;    
}
