
/* Stylesheet content from wlclient/css/wlgap.android.css in android Common Resources */
/*
* Licensed Materials - Property of IBM
* 5725-G92 (C) Copyright IBM Corp. 2006, 2012. All Rights Reserved.
* US Government Users Restricted Rights - Use, duplication or
* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/

/* Copyright (C) Worklight Ltd. 2006-2012.  All rights reserved. */

/**
* Css for the tab bar. 
* The HTML structure is like the fo:
* <div>
*	<ul class=">
*		<li>
*			<span></span>
*		</li>
*			<span></span>
*		<li>
*			<span></span>
*		</li>
*	</ul>
*/
.tabBar {
	position : fixed; 
	border-bottom: 3px solid #CBCBCB;
	display: block;
	height:63px;
	list-style-type: none;
	width: 100%;
	background-color: black;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: text;   
	z-index: 99999;   
	top: 0px; 
	left: 0px; 
}

.tabItem {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0B0B0D), color-stop(1, #434949));
    cursor: pointer;
	display: block;
	float: left;
	font-family: sans-serif;
	font-size: 14px;
}

.tabItemActive {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CBCBCB), color-stop(1, #E4E4E4));
	background-repeat: repeat;
}

.tabSpan {
	background: center 5px;
	background-repeat: no-repeat;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	color: #FFFFFF;
	line-height: 111px;
	display: block;
	overflow: hidden;
	height: 63px;
	text-align: center;
}

.tabItemActive .tabSpan {
	color: #9C9A9C;
	font-size: 14px;
	font-family: sans-serif;
}

.tabDisabled {
     filter: alpha(opacity=50);
     opacity: .50;
}

.tabTouch {
     background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF9900), color-stop(1, #FFCA00));
}

.tabBarTouch {
	border-bottom: 3px solid #FF9900;
}